.signup_wrapper {
  padding: 80px 0px;
  .signupImage {
    position: relative;
    .overlay_text {
      position: absolute;
      left: 10%;
      bottom: 20%;
      max-width: 300px;
      @media (max-width: 768px) {
        bottom: -30%;
      }
      .title,
      .para {
        color: white;
      }
      .title {
        font-size: 50px;
        font-family: "PoppinsSemi";
        margin-bottom: 30px;
        @media (max-width: 768px) {
          font-size: 22px;
        }
      }
    }
    @media (max-width: 768px) {
      > div {
        height: 377px;
        img {
          height: 377px;
          object-fit: cover;
        }
      }
    }
  }
}

.signup_form {
  max-width: 377px;
  margin: -268px 8% auto auto;
  position: relative;
  @media (max-width: 768px) {
    margin: -100px auto 0 auto;
  }
  .forms {
    padding: 40px 40px;
    background: white;
    input[type="text"] {
      padding: 22px 0px;
      border: none;
      border-bottom: 1px solid #ddd;
      outline: none;
      &:focus {
        box-shadow: none;
      }
    }
  }
  .btn {
    button {
      width: 100%;
      outline: none;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      &:focus {
        outline: none;
      }
    }
  }
}
